@use './presets/' as *;
@use '../mixins/' as *;

.video {
  background-color: $color-background-secondary;
  margin-top: -3.1rem;
  padding-bottom: 6rem;

  &__frame {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
    height: auto;
  }

  @include small-tablet {
    padding-bottom: 4rem;
  }

}