:root {
  --color-background-primary: #EEEFF1;
  --color-background-secondary: #F9F9F9;
  --color-background-accent: #34547A;
  --color-text-primary: #000000;
  --color-text-body: #727272;
  --color-text-light: #ffffff;

  --font-primary: 'Roboto', sans-serif;
  --font-size: 16px;
  --text-h1: 3rem;
  --text-h2: 2rem;
  --text-h3: 1.3rem;
  --text-body: 1rem;
  --text-caption: 0.8rem;
  --text-title-weight: 500;
  --text-body-weight: 400;
  --line-height-body: 164%;
  --line-height-sm: 120%;
  --letter-spacing: 0.1rem;

  --container-primary: 69.3rem;
  --container-sm: 33.7rem;

  --gap: 1.2rem;
  --gap-sm: calc(var(--gap) / 2);
  --gap-md: calc(var(--gap) * 1.5);
  --gap-lg: calc(var(--gap) * 2);
}

* {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-primary);
}

h1,
h2,
h3 {
  font-weight: var(--text-title-weight);
  line-height: var(--line-height-sm);
  margin: 0;
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}


p {
  line-height: var(--line-height-body);
  font-weight: var(--text-body-weight);
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
}

.container-sm {
  width: min(100% - var(--gap-lg), var(--container-sm));
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(100%);
}

.header {
  padding-top: 5rem;
  padding-bottom: 8.8rem;
  background-color: var(--color-background-primary);
}

.navbar {
  margin-bottom: 10.1rem;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.1rem;
}

.navbar__link {
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.navbar__link--active {
  color: var(--color-background-accent);
}

.navbar__btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.navbar__btn-row {
  display: block;
  height: 0.2rem;
  background: var(--color-background-accent);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 33.7rem;
}

.hero__title {
  margin-bottom: 2.5rem;
  max-width: 33.7rem;
}

.hero__text {
  margin-bottom: 3.3rem;
  color: var(--color-text-body);
}

.hero__button {
  all: unset;
  cursor: pointer;
  background-color: var(--color-background-accent);
  color: var(--color-text-light);
  letter-spacing: var(--letter-spacing);
  padding: 1.5rem 3.3rem;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
}

.center-content {
  background-color: var(--color-background-secondary);
  padding: 6.2rem 0;
  text-align: center;
}

.center__title {
  margin-bottom: 2.6rem;
}

.center__text {
  color: var(--color-text-body);
}

.advantages {
  background-color: var(--color-background-accent);
  padding: 6.2rem 0;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-lg);
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  gap: var(--gap);
  color: var(--color-text-light);
}

.video {
  background-color: var(--color-background-secondary);
  margin-top: -3.1rem;
  padding-bottom: 6rem;
}

.video__frame {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
  height: auto;
}

.footer {
  display: flex;
  background-color: var(--color-background-accent);
  padding: 3.1rem 0;
  color: var(--color-text-light);
}

.footer__name {
  margin: 0 0 0.8rem 0;
}

/* tablet */
@media (max-width: 61.9rem) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1rem;
  }

  .hero__button {
    padding: 1.2rem 3.1rem;
  }

  .advantages__img {
    width: 40px;
  }

  .advantages__item {
    gap: 0.8rem;
  }

  .hero__title {
    margin-bottom: 2rem;
  }

  .center__title {
    margin-bottom: 2rem;
  }

}

/* small-tablet */
@media (max-width: 47.9rem) {

  .navbar__list {
    gap: 1.5rem;
    justify-content: space-evenly;
  }

  .hero {
    align-items: center;
    margin: 0 auto;
  }

  .hero__text {
    display: flex;
    text-align: center;
  }

  .footer {
    padding: 2rem 0;
  }

  .footer__name {
    display: flex;
    justify-content: center;
  }

  .footer__copyright {
    display: flex;
    justify-content: center;
  }

  .header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .hero__button {
    padding: 1.2rem 4rem;
  }

  .video {
    padding-bottom: 4rem;
  }

  .navbar {
    margin-bottom: 8rem;
  }

}

/* mobile */
@media (max-width: 35.9rem) {

  .header {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }

  .navbar {
    margin-bottom: 4rem;
  }

  .hero__button {
    padding: 1rem 0;
    width: 100%;
  }

  .center-content {
    padding: 4.8rem 0;
  }

  .navbar__btn {
    display: flex;
    z-index: 1001;
  }

  .navbar__list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: var(--color-background-accent);
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 4rem;
    gap: 3rem;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .navbar__link {
    color: var(--color-background-primary);
  }

  .navbar__list.active {
    right: 0;
  }

  .navbar__btn.active .navbar__btn-row:nth-child(1) {
    transform: rotate(45deg) translateY(0.5rem);
  }

  .navbar__btn.active .navbar__btn-row:nth-child(2) {
    opacity: 0;
  }

  .navbar__btn.active .navbar__btn-row:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.5rem);
  }

  .advantages__list {
    flex-direction: column;
    align-items: center;
  }

  .advantages {
    padding: 4rem 0;
  }


}