$font-primary: 'Roboto', sans-serif;
$font-size: 16px;
$text-h1: 3rem;
$text-h2: 2rem;
$text-h3: 1.3rem;
$text-body: 1rem;
$text-caption: 0.8rem;
$text-title-weight: 500;
$text-body-weight: 400;
$line-height-body: 164%;
$line-height-sm: 120%;
$letter-spacing: 0.1rem;

$container-primary: 69.3rem;
$container-sm: 33.7rem;

$gap: 1.2rem;
$gap-sm: calc(#{$gap} * 0.5);
$gap-md: calc(#{$gap} * 1.5);
$gap-lg: calc(#{$gap} * 2);

$tablet: 61.9rem;
$small-tablet: 47.9rem;
$mobile: 35.9rem;